body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 2;
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}

p{
  line-height: 2;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-container {
  background-color: #f9f9f9;
  position: relative;
  padding: 100px;
}

.middle-container {
  }
.intro{
  width: 30%;
  margin: auto;
}

.developer {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 400px;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.chillies {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.computer {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 30px;
}
.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.classname {
	-moz-box-shadow:     ;
	-webkit-box-shadow:     ;
	box-shadow:     ;
	background-color:#368bd6;
	-webkit-border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	border-top-left-radius:9px;
	-webkit-border-top-right-radius:9px;
	-moz-border-radius-topright:9px;
	border-top-right-radius:9px;
	-webkit-border-bottom-right-radius:9px;
	-moz-border-radius-bottomright:9px;
	border-bottom-right-radius:9px;
	-webkit-border-bottom-left-radius:9px;
	-moz-border-radius-bottomleft:9px;
	border-bottom-left-radius:9px;
text-indent:0;
	border:1px solid #18ab29;
	display:inline-block;
	color:#ffffff;
  font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 6px #2f6627;
}.classname:hover {
	background-color:#24c7a6;
}.classname:active {
	position:relative;
	top:1px;
